/* 
-- Responsive Breakpoints
sm: 640px - mobile phone size
md: 768px - Tablet size
lg: 1024px - Laptop standard size
xl: 1280px -- larger wide desktop size
*/

@import url(signin.css);
@import url(login.css);
@import url(forgotpass.css);
body{
    margin: 0;
    padding: 0;
    background: #FCF6F5;
    color: #111;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

*{

    font-family: 'Inter', sans-serif;
    box-sizing: border-box; 
}